body {
  font-size: 12px;
  font-family: Arial;
  background-color: #ffeeee;
}
.table > tr > td {
  margin: 50px;
}
.table > tr > td > label {
  font-size: 15px;
}
.table {
  width: 700px;
}
h1 {
  text-align: center;
  margin: 0 !important;
}
.content {
  width: 500px;
  border: 1px solid;
  margin: 50px auto;
  padding-left: 7px;
  padding-right: 7px;
}
input[type="submit"] {
  padding: 7px;
  width: 50%;
}
input[type="reset"] {
  padding: 7px;
  width: 30%;
  font-size: 16px;
  font-weight: bold;
}
/* .liste > tr {
  padding: 10px;
} */
.liste > tr,
.liste > td {
  padding: 10px;
}
